---
import Layout from "../layouts/Layout.astro"
import DownloadItem from "../components/DownloadItem.astro"
import { FileTypeIcon } from "../types"
import downloadsJson from "../data/homepage-downloads.json"
const downloadItems = downloadsJson.downloads as {
  filename: string
  filetype: FileTypeIcon
  label: string
}[]
---

<Layout title="FAQ" breadcrumb={[{ title: "FAQ" }]}>
  <div class="max-w-screen-lg mx-auto">
    <h1 class="col-span-2 mb-6 text-4xl font-bold text-gray-800">Downloads</h1>
    <ul class="space-y-2">
      {
        downloadItems.map((item) => (
          <DownloadItem
            filename={item.filename}
            filetype={item.filetype}
            label={item.label}
          />
        ))
      }
    </ul>
  </div>
</Layout>
