---
import Layout from "../layouts/Layout.astro"
import Accordion from "../components/Accordion.astro"
import faqs from "../data/homepage-faqs.json"
---

<Layout title="FAQ" breadcrumb={[{ title: "FAQ" }]}>
  <div class="max-w-screen-lg mx-auto">
    <h1 class="mb-2 text-2xl sm:text-4xl font-bold text-gray-800">
      Frequently Asked Questions
    </h1>
    <Accordion items={faqs.faqs} mode="collapse" class="mt-6" />
  </div>
</Layout>
