---
import Layout from "../layouts/Layout.astro"
import Accordion from "../components/Accordion.astro"
import faqs from "../data/footer-faqs.json"
import Heading1 from "../components/Base/heading1.astro"
---

<Layout title="FAQ" breadcrumb={[{ title: "FAQ" }]}>
  <div class="max-w-screen-lg mx-auto">
    <Heading1 class="mb-2">Frequently Asked Questions</Heading1>
    <Accordion items={faqs.faqs} mode="collapse" class="mt-6" />
  </div>
</Layout>
