---
import FileTypeIconComponent from "./FileTypeIcon.astro"
import { FileTypeIcon } from "../types"

export interface Props {
  label: string
  filename: string
  filetype: FileTypeIcon
  download?: boolean
}

const { filename, filetype, label, download } = Astro.props as Props
---

<a
  href={filename}
  class="flex items-center p-3 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100"
  download={download ? download : false}
>
  <FileTypeIconComponent icon={filetype} class="w-8 h-8 sm:w-10 sm:h-10" />

  <h2
    class="ml-2 sm:ml-4 text-sm font-bold sm:font-normal sm:text-lg text-gray-900"
  >
    {label}
  </h2>
</a>
