<a
  href="#"
  class="grid grid-cols-[auto_1fr] items-center bg-white border rounded-lg shadow-md w-full"
>
  <img
    class="object-cover pl-4 pb-4 sm:pb-0 sm:pl-0 w-20 h-20 sm:w-40 sm:h-40 lg:w-32 lg:h-32 row-start-2 sm:row-span-2 sm:rounded-l-lg"
    src="https://kita-kiste.com/wp-content/uploads/Hallo-Nikolaus-icon-600x600.jpg"
    alt=""
  />
  <h3
    class="col-span-2 sm:col-span-1 px-4 pt-4 mb-1 text-lg md:text-2xl font-bold tracking-tight text-gray-900"
  >
    Kreismeisterschaft Lange Strecke und Spatzenschwimmen
  </h3>
  <div
    class="text-sm md:text-base grid px-4 pb-4 col-start-2 grid-cols-[auto_1fr] gap-3 leading-normal font-normal text-gray-700"
  >
    <div class="font-bold">Datum:</div>
    <div class="grow">16.12.2022 17:00 Uhr - 17.12.2022 17:00 Uhr</div>
    <div class="font-bold">Ort:</div>
    <div class="grow">Schwimmbad Haren</div>
  </div>
</a>
